# 简化网络请求
import requests
# 并发网络请求
import grequests
# uwsgi application 轻量级框架
import flask
# 支持 Flask 本机跨域调试
import flask-cors
# 用 pandas 替代云端 mysql 模块
import pandas as pd
import numpy as np

pip install requests grequests flask flask-cors pandas numpy